@font-face {
  font-family: "Monserrat";
  src: url("fonts/montserrat_[allfont.ru].ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoSlab";
  src: url("fonts/ofont.ru_Roboto Slab.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
* {
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "RobotoSlab"; }

header {
  background-image: url(images/header_bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  height: 770px;
  padding: 45px 230px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  color: #fff; }
  header .nav {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 460px);
    z-index: 2;
    position: absolute; }
    header .nav ul {
      display: flex;
      width: 540px;
      justify-content: space-between; }
      header .nav ul li {
        font-size: 14px;
        letter-spacing: 0.025em;
        font-family: "Monserrat"; }
        header .nav ul li a {
          text-decoration: none;
          color: inherit; }
  header .header__contant {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 323px; }
    header .header__contant h1 {
      font-family: "Monserrat";
      margin-bottom: 20px;
      font-size: 48px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: .1rem; }
    header .header__contant span {
      text-align: center;
      font-size: 20px; }
    header .header__contant .header__btn {
      margin: 50px auto 0; }
  header .header__overlay {
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute; }

button {
  cursor: pointer; }

.btn {
  border: 2px solid #fff;
  width: 180px;
  height: 50px;
  box-sizing: border-box;
  line-height: 48px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-family: "Monserrat";
  transition: .5s;
  text-transform: uppercase;
  border-radius: 2px; }

.btn:hover {
  background-color: #fff;
  color: #c0301c; }

.discription {
  text-align: center;
  color: #555555;
  margin-bottom: 70px; }

ul {
  list-style-type: none; }

.linedecor {
  width: 50px;
  height: 2px;
  background-color: #555555;
  margin: 29px auto 28px; }

.linedecor--footer {
  background-color: #fff; }

h2 {
  font-family: "Montserrat";
  font-size: 20px;
  color: #555555;
  text-align: center;
  text-transform: uppercase; }

.services {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 230px;
  box-sizing: border-box; }
  .services ul {
    display: flex;
    justify-content: space-between;
    height: auto; }
    .services ul li {
      margin-right: 45px;
      color: #555555; }
      .services ul li .item__pic {
        width: 90px;
        height: 90px;
        background-color: #ffffff;
        border: 2px solid #dddddd;
        border-radius: 50%;
        box-sizing: border-box;
        margin: 0 auto;
        display: flex; }
        .services ul li .item__pic img {
          margin: auto; }
      .services ul li .item__pic-bg {
        background-color: #c0301c; }
      .services ul li h3 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        font-family: "Montserrat";
        text-align: center;
        margin: 29px 0 24px; }
      .services ul li p {
        text-align: center;
        font-size: 14px;
        line-height: 24px; }
    .services ul li:last-child {
      margin-right: 0; }

.aboutus {
  height: 852px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 230px; }
  .aboutus .aboutus__text {
    display: flex;
    justify-content: center;
    color: #555555; }
    .aboutus .aboutus__text p {
      width: 553px;
      height: auto;
      text-align: justify;
      font-size: 14px;
      line-height: 24px; }
    .aboutus .aboutus__text p:first-child {
      margin-right: 32px; }

.parallax {
  height: 369px;
  box-sizing: border-box;
  background-image: url(images/parallax_bg.jpg);
  background-size: cover;
  padding: 100px 230px;
  position: relative; }
  .parallax .parallax_content {
    position: absolute;
    z-index: 2;
    width: calc(100% - 460px);
    height: 171px;
    top: 0;
    bottom: 0;
    margin: auto 0; }
    .parallax .parallax_content p {
      color: #fff;
      text-align: center;
      font-family: "RobotoSlab";
      font-size: 30px;
      line-height: 44px; }
    .parallax .parallax_content .parallax__btn {
      display: block;
      margin: 53px auto; }
  .parallax .parallax__overlay {
    background-color: rgba(192, 48, 28, 0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.blog {
  height: 1078px;
  padding: 100px 230px; }

.clients {
  height: auto;
  width: 100%;
  background-color: #f8f8f8;
  padding: 100px 351px;
  box-sizing: border-box;
  text-align: center; }
  .clients .clients__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px; }
    .clients .clients__ul .clients__img {
      height: auto; }
  .clients .slider {
    position: relative; }
    .clients .slider input[type="radio"] {
      display: none; }
    .clients .slider #btn-1:checked ~ .slider-controls label[for="btn-1"],
    .clients .slider #btn-2:checked ~ .slider-controls label[for="btn-2"],
    .clients .slider #btn-3:checked ~ .slider-controls label[for="btn-3"] {
      background: #c0301c; }
    .clients .slider #btn-1:checked ~ .slider-inner .slider-slides {
      transform: translate(0); }
    .clients .slider #btn-2:checked ~ .slider-inner .slider-slides {
      transform: translate(calc(-100% / 3)); }
    .clients .slider #btn-3:checked ~ .slider-inner .slider-slides {
      transform: translate(calc(-200% / 3)); }
    .clients .slider .slider-controls {
      margin-top: 40px; }
      .clients .slider .slider-controls label {
        display: inline-block;
        width: 13px;
        height: 13px;
        margin: 0 3.5px;
        cursor: pointer;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
        border-radius: 50%; }
    .clients .slider .slider-inner {
      overflow: hidden; }
      .clients .slider .slider-inner .slider-slides {
        width: 300%; }
        .clients .slider .slider-inner .slider-slides blockquote {
          float: left;
          width: calc(100% / 3);
          height: auto;
          color: #555555; }
          .clients .slider .slider-inner .slider-slides blockquote p {
            padding-bottom: 40px;
            font-style: italic;
            line-height: 30px;
            font-size: 18px; }
          .clients .slider .slider-inner .slider-slides blockquote cite {
            font-style: normal;
            font-size: 20px; }

.feedback {
  height: auto;
  padding: 100px 230px;
  box-sizing: border-box;
  color: #555555; }
  .feedback .feedback-cover {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .feedback .feedback-cover .feedback-contacts {
      display: flex;
      flex-direction: column;
      width: 250px;
      height: auto; }
      .feedback .feedback-cover .feedback-contacts .contacts-cover {
        width: 100%;
        padding-left: 30px;
        position: relative;
        z-index: 1;
        margin-bottom: 40px; }
        .feedback .feedback-cover .feedback-contacts .contacts-cover h4 {
          text-transform: uppercase;
          margin-bottom: 20px;
          position: relative;
          z-index: -1; }
        .feedback .feedback-cover .feedback-contacts .contacts-cover span {
          line-height: 20px;
          font-size: 12px; }
      .feedback .feedback-cover .feedback-contacts .contacts-cover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        z-index: 1;
        background-repeat: no-repeat; }
      .feedback .feedback-cover .feedback-contacts .contacts-address::before {
        background-image: url(images/address.svg); }
      .feedback .feedback-cover .feedback-contacts .contacts-hotline::before {
        background-image: url(images/hotline.svg); }
      .feedback .feedback-cover .feedback-contacts .contacts-email::before {
        background-image: url(images/email.svg); }
      .feedback .feedback-cover .feedback-contacts .contacts-cover:last-child {
        margin-bottom: 0; }
    .feedback .feedback-cover form {
      width: 730px; }
      .feedback .feedback-cover form input {
        height: 44px;
        border: 1px solid #555555;
        padding-left: 17px;
        box-sizing: border-box;
        width: 350px;
        margin-bottom: 21px;
        box-sizing: border-box; }
      .feedback .feedback-cover form input:nth-of-type(2n) {
        float: right; }
      .feedback .feedback-cover form input[type="button"] {
        color: #555555;
        cursor: pointer;
        transition: .5s;
        width: 170px;
        padding-left: 0;
        margin-bottom: 0; }
      .feedback .feedback-cover form input[type="button"]:hover {
        background: #c0301c;
        color: #fff;
        border: 1px solid #c0301c; }
      .feedback .feedback-cover form textarea {
        width: 100%;
        margin-bottom: 21px;
        padding: 17px;
        box-sizing: border-box;
        resize: none; }
      .feedback .feedback-cover form input:hover,
      .feedback .feedback-cover form textarea:hover {
        border: 1px solid #c0301c; }
      .feedback .feedback-cover form input:focus,
      .feedback .feedback-cover form textarea:focus {
        outline: none; }
      .feedback .feedback-cover form span {
        font-size: 12px;
        padding-left: 38px; }
      .feedback .feedback-cover form .span__first-letter {
        color: #c0301c;
        padding-left: 0; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 307px;
  box-sizing: border-box;
  background-color: #c0301c;
  padding: 100px 230px; }
  footer .social {
    display: flex;
    justify-content: center; }
    footer .social img {
      box-sizing: border-box;
      border: 2px solid #fff;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      padding: 5px; }
    footer .social a {
      margin-right: 14px; }
    footer .social a:last-child {
      margin-right: 0; }
  footer span {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px; }

@media (max-width: 575px) {
  header {
    width: 100%;
    height: auto; } }

/*# sourceMappingURL=style.css.map */
